@model TransporteBoletos.Models.Pasajero

@{
    ViewData["Title"] = "Detalles del Pasajero";
}

<h1>Detalles del Pasajero</h1>

<div class="card p-4 shadow-sm">
    <h4 class="card-title">Información del Pasajero</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RutaId)
        </dt>
        <dd class="col-sm-9">
            @(Model.Ruta != null ? $"{Model.Ruta.Origen} - {Model.Ruta.Destino}" : "Sin ruta")
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning me-2">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </div>
</div>