@model TransporteBoletos.Models.Boleto

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de eliminar este boleto?</h3>
<div>
    <h4>Boleto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroBoleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroBoleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RutaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ruta.Origen) - @Html.DisplayFor(model => model.Ruta.Destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PasajeroId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pasajero.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>